// Globals
@import './global/variable.scss';
@import './global/reset.scss';

// Components
@import './components/header.scss';
@import './components/invoiceList.scss';
@import './components/navbar.scss';
@import './components/form.scss';

// Pages
@import './pages/home.scss';
@import './pages/invoced.scss';