.invoiced {
    display: flex;
    height: 100vh;
    &__container {
        max-width: 850px;
        margin: 0 auto;
        padding: 2rem 1rem;
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    &__header {
        &__top {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-decoration: none;
            color: $text-primary;
            transition: all 1s;

            svg {
                transform: scale(1);
                transition: all 1s;
            }

            &:hover {
                svg {
                    transform: scale(0.9);
                    margin-right: 12px;
                    margin-left: -17px;
                }
            }
        }

        &__bottom {
            margin: 10px 0;
            background: $third-color;
            max-height: 100px;
            padding: 1rem 2rem;
            border-radius: 7px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__status {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 170px;
                &--true {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #27d59e42;
                    width: 115px;
                    height: 36px;
                    border-radius: 7px;
                    padding: 0 15px;
            
                    p {
            
                        color: $paid;
                        font-weight: 600;
                        font-size: 1rem;
                        svg {
                            display: flex;
                        }
                    }
                }
            
                &--false {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background: #ff8b0038;
                    width: 115px;
                    height: 36px;
                    border-radius: 7px;
                    padding: 0 15px;
            
                    p {
            
                        color: $pending;
                        font-weight: 600;
                        font-size: 1rem;
                        svg {
                            display: flex;
                        }
                    }
                }
            }

            &__btn {
                width: 270px;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }
    
        &__delete {
            width: 100px;
            height: 40px;
            border-radius: 30px;
            border: none;
            color: $text-primary;
            background: #ff6347;
            cursor: pointer;
        }

        &__mark {
            width: 150px;
            height: 40px;
            border-radius: 30px;
            border: none;
            color: $text-primary;
            background: $second-color;
            cursor: pointer;
        }
    }

    &__body {
        background: $third-color;
        max-height: 1000px;
        padding: 2rem 3rem;
        border-radius: 7px;
        min-height: 560px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            div {

                display: flex;
                justify-content: space-around;
                flex-direction: column;
                height: 90px;

                h2 {
                    span {
                        color: $text-second;
                        font-weight: 600;
                    }
                }

                h3 {
                    font-size: 1rem;
                    color: $text-second;
                    font-weight: 400;
                }

                p {
                    color: $text-second;
                    font-weight: 400;
                }

            }
        }

        &__main {
            width: 100%;
            margin: 40px 0;

            &__top {
                display: grid;
                grid-template-columns: 1fr 1fr 2fr;
                grid-gap: 30px;
                margin-bottom: 30px;

                div {
                    p {
                        color: $text-second;
                        font-weight: 400;
                        font-size: 1rem;
                        margin-bottom: 10px;
                    }

                    h3 {
                        font-size: 1.1rem;
                        font-weight: 500;
                    }
                }
            }

            &__bottom {
                display: grid;
                grid-template-columns: 200px 200px;

                div {
                    max-width: 200px;

                    p {
                        color: $text-second;
                        font-size: 1rem;
                        margin-bottom: 10px;
                    }

                    h3 {
                        font-size: 1.1rem;
                        font-weight: 500; 
                    }
                }
            }

        }
        
        &__footer {
            width: 100%;
            background: $primary-color;
            padding: 1rem 2rem;
            border-radius: 12px 12px 0 0;

            table {
                width: 100%;

                thead {
                    th {
                        padding: 1rem 0;
                    }
                }

                tbody {
                    tr {
                        td {
                            padding: 1rem 0;
                        }
                    }
                }
            }

            &__name {
                text-align: left;
            }

            &__qtd {
                text-align: center;
            }

            &__price {
                text-align: center;
            }

            &__total-price {
                text-align: right;
            }
        }

        &__total {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 90px;
            background: black;
            width: 100%;
            padding: 1rem 2rem;
            border-radius: 0 0 12px 12px;
        }
    }
}