.form {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box {
        position: relative;
        height: 100vh;
        width: 500px;
        left: -28%;
        background: $primary-color;
        padding: 2rem 2rem;
        overflow: auto;

        form {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }

    &__address {
        display: flex;
        flex-direction: column;

        h3 {
            font-size: 1rem;
            font-weight: 400;
            color: $second-color;
            margin-bottom: 15px;
        }

        input {
            margin: 10px 0;
            height: 45px;
            background: $third-color;
        }

        &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            div {

                display: flex;
                flex-direction: column;

                label {
                    width: 100px;
                }
    
                input {
                    width: 134px;
                }
            }
        }
    }

    &__person {
        display: flex;
        flex-direction: column;

        input {
            margin: 10px 0;
            height: 45px;
            background: $third-color;
        }
    }
}