.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__title {
        h1 {
            font-size: 2.6rem;
            color: $text-primary;
            font-weight: 500;
        }

        p {
            font-size: 1.3rem;
            font-weight: 400;
            color: $text-primary;
        }
    }

    &__new {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
        height: 50px;
        padding: 0 6px;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        color: $text-primary;
        background: $second-color;

        p {
            margin-right: 40px;
        }
        
        svg {
            background: #FFF;
            width: 40px;
            height: 40px;
            border-radius: 40px;
            color: $second-color;
        }
    }
}