.nav-bar {
    width: 5%;
    display: flex;
    justify-content: center;
    background: $third-color;
    padding-bottom: 2rem;
    border-radius: 0 18px 18px 0;
    position: fixed;
    height: 100vh;

    &__logo {
        padding: 1rem;
        background: $second-color;
        width: 100%;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 18px 18px 0;

        svg {
            color: #FFF;
            font-size: 2rem;
        }
    }
}