* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: $primary-color;
    color: $text-primary;
    font-size: 16px;
    font-weight: 400;
}