* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #141625;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
}

label {
  color: #787EA7;
}

input {
  border-radius: 9px;
  border: none;
  padding: 0 12px;
  color: #787EA7;
}
input:focus {
  outline: none;
}

::-webkit-scrollbar-track {
  background-color: #141625;
}

::-webkit-scrollbar {
  width: 6px;
  background: #141625;
}

::-webkit-scrollbar-thumb {
  background: #1F213A;
}

.home {
  display: flex;
  height: 100vh;
}
.home__container {
  max-width: 850px;
  margin: 0 auto;
  padding: 2rem 1rem;
  width: 95%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__title h1 {
  font-size: 2.6rem;
  color: #FFF;
  font-weight: 500;
}
.header__title p {
  font-size: 1.3rem;
  font-weight: 400;
  color: #FFF;
}
.header__new {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 50px;
  padding: 0 6px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: #FFF;
  background: #7C5DF9;
}
.header__new p {
  margin-right: 40px;
}
.header__new svg {
  background: #FFF;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  color: #7C5DF9;
}

.list-invoice {
  margin-top: 40px;
}
.list-invoice__item {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
  background: #1F213A;
  border-radius: 12px;
  margin-bottom: 12px;
}
.list-invoice__item a {
  font-size: 0;
}
.list-invoice__status {
  display: flex;
}
.list-invoice__id {
  font-size: 1rem;
  font-weight: 500;
}
.list-invoice__id span {
  color: #787EA7;
}
.list-invoice__date {
  font-size: 1rem;
  font-weight: 400;
  color: #787EA7;
}
.list-invoice__person {
  font-size: 1rem;
  font-weight: 400;
  color: #787EA7;
}
.list-invoice__money {
  font-size: 1.2rem;
  font-weight: 500;
  color: #FFF;
}
.list-invoice__status--false {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ff8b0038;
  width: 115px;
  height: 36px;
  border-radius: 7px;
  padding: 0 15px;
}
.list-invoice__status--false p {
  color: #FF8B00;
  font-weight: 600;
  font-size: 1rem;
}
.list-invoice__status--false p svg {
  display: flex;
}
.list-invoice__status--true {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #27d59e42;
  width: 115px;
  height: 36px;
  border-radius: 7px;
  padding: 0 15px;
}
.list-invoice__status--true p {
  color: #27D59E;
  font-weight: 600;
  font-size: 1rem;
}
.list-invoice__status--true p svg {
  display: flex;
}

.nav-bar {
  width: 5%;
  display: flex;
  justify-content: center;
  background: #1F213A;
  padding-bottom: 2rem;
  border-radius: 0 18px 18px 0;
}
.nav-bar__logo {
  padding: 1rem;
  background: #7C5DF9;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 18px 18px 0;
}
.nav-bar__logo svg {
  color: #FFF;
  font-size: 2rem;
}

.form {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__box {
  position: relative;
  height: 100vh;
  width: 500px;
  left: -28%;
  background: #141625;
  padding: 2rem 2rem;
  overflow: auto;
}
.form__box form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.form__address {
  display: flex;
  flex-direction: column;
}
.form__address h3 {
  font-size: 1rem;
  font-weight: 400;
  color: #7C5DF9;
  margin-bottom: 15px;
}
.form__address input {
  margin: 10px 0;
  height: 45px;
  background: #1F213A;
}
.form__address__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__address__container div {
  display: flex;
  flex-direction: column;
}
.form__address__container div label {
  width: 100px;
}
.form__address__container div input {
  width: 134px;
}
.form__person {
  display: flex;
  flex-direction: column;
}
.form__person input {
  margin: 10px 0;
  height: 45px;
  background: #1F213A;
}
