* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #141625;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
}

label {
  color: #787EA7;
}

input {
  border-radius: 9px;
  border: none;
  padding: 0 12px;
  color: #787EA7;
}
input:focus {
  outline: none;
}

::-webkit-scrollbar-track {
  background-color: #141625;
}

::-webkit-scrollbar {
  width: 6px;
  background: #141625;
}

::-webkit-scrollbar-thumb {
  background: #1F213A;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__title h1 {
  font-size: 2.6rem;
  color: #FFF;
  font-weight: 500;
}
.header__title p {
  font-size: 1.3rem;
  font-weight: 400;
  color: #FFF;
}
.header__new {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 50px;
  padding: 0 6px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: #FFF;
  background: #7C5DF9;
}
.header__new p {
  margin-right: 40px;
}
.header__new svg {
  background: #FFF;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  color: #7C5DF9;
}

.list-invoice {
  margin-top: 40px;
}
.list-invoice__item {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
  background: #1F213A;
  border-radius: 12px;
  margin-bottom: 12px;
}
.list-invoice__item a {
  font-size: 0;
  background: #141625;
  transition: all 0.9s;
  border-radius: 7px;
}
.list-invoice__item a:hover {
  background: #14162585;
  border-radius: 7px;
}
.list-invoice__status {
  display: flex;
}
.list-invoice__id {
  font-size: 1rem;
  font-weight: 500;
}
.list-invoice__id span {
  color: #787EA7;
}
.list-invoice__date {
  font-size: 1rem;
  font-weight: 400;
  color: #787EA7;
}
.list-invoice__person {
  font-size: 1rem;
  font-weight: 400;
  color: #787EA7;
}
.list-invoice__money {
  font-size: 1.2rem;
  font-weight: 500;
  color: #FFF;
}
.list-invoice__status--false {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ff8b0038;
  width: 115px;
  height: 36px;
  border-radius: 7px;
  padding: 0 15px;
}
.list-invoice__status--false p {
  color: #FF8B00;
  font-weight: 600;
  font-size: 1rem;
}
.list-invoice__status--false p svg {
  display: flex;
}
.list-invoice__status--true {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #27d59e42;
  width: 115px;
  height: 36px;
  border-radius: 7px;
  padding: 0 15px;
}
.list-invoice__status--true p {
  color: #27D59E;
  font-weight: 600;
  font-size: 1rem;
}
.list-invoice__status--true p svg {
  display: flex;
}

.nav-bar {
  width: 5%;
  display: flex;
  justify-content: center;
  background: #1F213A;
  padding-bottom: 2rem;
  border-radius: 0 18px 18px 0;
  position: fixed;
  height: 100vh;
}
.nav-bar__logo {
  padding: 1rem;
  background: #7C5DF9;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 18px 18px 0;
}
.nav-bar__logo svg {
  color: #FFF;
  font-size: 2rem;
}

.form {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__box {
  position: relative;
  height: 90vh;
  width: 580px;
  background: #141625;
  padding: 2rem 3rem;
  overflow: auto;
}
.form__box form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.form__address {
  display: flex;
  flex-direction: column;
}
.form__address h3 {
  font-size: 1rem;
  font-weight: 400;
  color: #7C5DF9;
  margin-bottom: 15px;
}
.form__address input {
  margin: 10px 0;
  height: 45px;
  background: #1F213A;
}
.form__address__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__address__container div {
  display: flex;
  flex-direction: column;
}
.form__address__container div label {
  width: 100px;
}
.form__address__container div input {
  width: 155px;
}
.form__person {
  display: flex;
  flex-direction: column;
}
.form__person h3 {
  font-size: 1rem;
  font-weight: 400;
  color: #7C5DF9;
  margin: 15px 0;
}
.form__person input {
  margin: 10px 0;
  height: 45px;
  background: #1F213A;
}
.form__person__payment {
  display: flex;
  align-items: center;
}
.form__person__payment div input {
  width: 231px;
}
.form__person__payment div select {
  margin: 10px 0;
  height: 45px;
  width: 235px;
  background: #1F213A;
  border: none;
  border-radius: 9px;
  padding: 0 12px;
  color: #787EA7;
}
.form__person__payment div + div {
  margin-left: 11px;
}
.form__product {
  display: flex;
  flex-direction: column;
}
.form__list__description div {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  grid-gap: 6px;
  align-items: center;
}
.form__list__item {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  grid-gap: 6px;
  align-items: center;
}
.form__list__create {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: #FFF;
  background: #1F213A;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 20px;
}
.form__name {
  width: 155px;
}
.form__count {
  width: 65px;
}
.form__price {
  width: 100px;
}
.form__total {
  background: #00000054;
  width: 95px;
  padding: 12px 12px;
  border-radius: 7px;
}
.form__trash {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.form__trash img {
  width: 22px;
}
.form__btn {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.form__btn button + button {
  margin-left: 15px;
}
.form__btn__cancel {
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  color: #FFF;
  background: #1F213A;
  cursor: pointer;
  font-size: 1rem;
}
.form__btn__create {
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  color: #FFF;
  background: #7C5DF9;
  cursor: pointer;
  font-size: 1rem;
}

.home {
  display: flex;
  height: 100vh;
}
.home__container {
  max-width: 850px;
  margin: 0 auto;
  padding: 2rem 1rem;
  width: 95%;
}

.invoiced {
  display: flex;
  height: 100vh;
}
.invoiced__container {
  max-width: 850px;
  margin: 0 auto;
  padding: 2rem 1rem;
  width: 95%;
  display: flex;
  flex-direction: column;
}
.invoiced__header__top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: #FFF;
  transition: all 1s;
}
.invoiced__header__top svg {
  transform: scale(1);
  transition: all 1s;
}
.invoiced__header__top:hover svg {
  transform: scale(0.9);
  margin-right: 12px;
  margin-left: -17px;
}
.invoiced__header__bottom {
  margin: 10px 0;
  background: #1F213A;
  max-height: 100px;
  padding: 1rem 2rem;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invoiced__header__bottom__status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
}
.invoiced__header__bottom__status--true {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #27d59e42;
  width: 115px;
  height: 36px;
  border-radius: 7px;
  padding: 0 15px;
}
.invoiced__header__bottom__status--true p {
  color: #27D59E;
  font-weight: 600;
  font-size: 1rem;
}
.invoiced__header__bottom__status--true p svg {
  display: flex;
}
.invoiced__header__bottom__status--false {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ff8b0038;
  width: 115px;
  height: 36px;
  border-radius: 7px;
  padding: 0 15px;
}
.invoiced__header__bottom__status--false p {
  color: #FF8B00;
  font-weight: 600;
  font-size: 1rem;
}
.invoiced__header__bottom__status--false p svg {
  display: flex;
}
.invoiced__header__bottom__btn {
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.invoiced__header__delete {
  width: 100px;
  height: 40px;
  border-radius: 30px;
  border: none;
  color: #FFF;
  background: #ff6347;
  cursor: pointer;
}
.invoiced__header__mark {
  width: 150px;
  height: 40px;
  border-radius: 30px;
  border: none;
  color: #FFF;
  background: #7C5DF9;
  cursor: pointer;
}
.invoiced__body {
  background: #1F213A;
  max-height: 1000px;
  padding: 2rem 3rem;
  border-radius: 7px;
  min-height: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.invoiced__body__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.invoiced__body__header div {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 90px;
}
.invoiced__body__header div h2 span {
  color: #787EA7;
  font-weight: 600;
}
.invoiced__body__header div h3 {
  font-size: 1rem;
  color: #787EA7;
  font-weight: 400;
}
.invoiced__body__header div p {
  color: #787EA7;
  font-weight: 400;
}
.invoiced__body__main {
  width: 100%;
  margin: 40px 0;
}
.invoiced__body__main__top {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 30px;
  margin-bottom: 30px;
}
.invoiced__body__main__top div p {
  color: #787EA7;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 10px;
}
.invoiced__body__main__top div h3 {
  font-size: 1.1rem;
  font-weight: 500;
}
.invoiced__body__main__bottom {
  display: grid;
  grid-template-columns: 200px 200px;
}
.invoiced__body__main__bottom div {
  max-width: 200px;
}
.invoiced__body__main__bottom div p {
  color: #787EA7;
  font-size: 1rem;
  margin-bottom: 10px;
}
.invoiced__body__main__bottom div h3 {
  font-size: 1.1rem;
  font-weight: 500;
}
.invoiced__body__footer {
  width: 100%;
  background: #141625;
  padding: 1rem 2rem;
  border-radius: 12px 12px 0 0;
}
.invoiced__body__footer table {
  width: 100%;
}
.invoiced__body__footer table thead th {
  padding: 1rem 0;
}
.invoiced__body__footer table tbody tr td {
  padding: 1rem 0;
}
.invoiced__body__footer__name {
  text-align: left;
}
.invoiced__body__footer__qtd {
  text-align: center;
}
.invoiced__body__footer__price {
  text-align: center;
}
.invoiced__body__footer__total-price {
  text-align: right;
}
.invoiced__body__total {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  background: black;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 0 0 12px 12px;
}
